if useog
    meta(property="og:locale",content="zh_TW")
    meta(property="og:image",content="#{thumbnail}")
    meta(property="og:image:type",content="image/jpg")
    meta(property="og:image:width",content="471")
    meta(property="og:image:height",content="471")
    meta(property="og:url",content="http://0media.tw/yslin/")
    meta(property="og:type",content="website")
    meta(property="og:title",content="繫上歷史的黃絲帶 - 從林義雄禁語抗議回顧那個噤聲的年代")
    meta(name="twitter:title",content="繫上歷史的黃絲帶 - 從林義雄禁語抗議回顧那個噤聲的年代")
    meta(property="og:description",content="4月22日，林義雄以禁食反對興建核四，核能議題再度被高度討論，他絕食抗爭的畫面，也與解嚴前的臺灣影像相互重疊。為了瞭解他，我們開始回顧他的人生，並看見台灣爭取民主過程中的血淚身影。透過這一份專題，我們將回顧林義雄的人生，並藉由青年觀點，瞭解林義雄如何感動年輕一代。這份專題，新聞e論壇與零傳媒網頁工程師、設計師共同協力，以新形態的數位專輯方式呈現。我們一直在想像、實驗並形塑更有挑戰性的媒體形貌，也盼讀者能不吝於給予我們任何建議，與我們並肩而行。※本專題建議以電腦進行閱讀，動畫尚不支援ipad跟手機等載具")
    meta(property="twitter:description",content="4月22日，林義雄以禁食反對興建核四，核能議題再度被高度討論，他絕食抗爭的畫面，也與解嚴前的臺灣影像相互重疊。為了瞭解他，我們開始回顧他的人生，並看見台灣爭取民主過程中的血淚身影。透過這一份專題，我們將回顧林義雄的人生，並藉由青年觀點，瞭解林義雄如何感動年輕一代。這份專題，新聞e論壇與零傳媒網頁工程師、設計師共同協力，以新形態的數位專輯方式呈現。我們一直在想像、實驗並形塑更有挑戰性的媒體形貌，也盼讀者能不吝於給予我們任何建議，與我們並肩而行。※本專題建議以電腦進行閱讀，動畫尚不支援ipad跟手機等載具")
    meta(name="description",content="4月22日，林義雄以禁食反對興建核四，核能議題再度被高度討論，他絕食抗爭的畫面，也與解嚴前的臺灣影像相互重疊。為了瞭解他，我們開始回顧他的人生，並看見台灣爭取民主過程中的血淚身影。透過這一份專題，我們將回顧林義雄的人生，並藉由青年觀點，瞭解林義雄如何感動年輕一代。這份專題，新聞e論壇與零傳媒網頁工程師、設計師共同協力，以新形態的數位專輯方式呈現。我們一直在想像、實驗並形塑更有挑戰性的媒體形貌，也盼讀者能不吝於給予我們任何建議，與我們並肩而行。※本專題建議以電腦進行閱讀，動畫尚不支援ipad跟手機等載具")
    meta(name="keywords",content="林義雄 核四 禁食 絕食 林飛帆 陳為廷 柳林瑋 李柏璋 張凱婷 苗博雅 白色恐怖 新聞e論壇 零傳媒")
    meta(name="twitter:card",content="summary")
    meta(name="twitter:image",content="#{thumbnail}")

if usecdn
  //- from cdn
  if lib.jquery
    script(type="text/javascript",src="//codeorigin.jquery.com/jquery-1.10.2.min.js")
  if lib.d3js
    script(type="text/javascript",src="//d3js.org/d3.v3.min.js")
  if lib.angular
    script(type="text/javascript",src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js")
  if lib.bootstrap
    link(rel="stylesheet",type="text/css",href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    script(type="text/javascript",src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
  if lib.semantic
    link(rel="stylesheet",type="text/css",href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.9.3/css/semantic.min.css")
    script(type="Text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.9.3/javascript/semantic.min.js")
else
  //- from local
  if lib.jquery
    script(type="text/javascript",src="#{assets}/jquery/1.10.2/jquery.min.js")
  if lib.d3js
    script(type="text/javascript",src="#{assets}/d3js/3.3.11/d3.v3.min.js")
  if lib.angular
    script(type="text/javascript",src="#{assets}/angular/1.2.3/angular.min.js")
  if lib.bootstrap
    link(rel="stylesheet",type="text/css",href="#{assets}/bootstrap/3.0.2/css/bootstrap.min.css")
    script(type="text/javascript",src="#{assets}/bootstrap/3.0.2/js/bootstrap.min.js")
  if lib.semantic
    link(rel="stylesheet",type="text/css",href="#{assets}/semantic-ui/0.9.5/css/semantic.min.css")
    script(type="text/javascript",src="#{assets}/semantic-ui/0.9.5/js/semantic.min.js")

