mixin fig(id,name,sent)
  .fig(ng-class="{'show':melistTab=="+id+"}")
    img(src="img/white/pic/meli/p"+id+".png")

mixin key(single,black)
  - var single = (single?"ico-key":"")
  - var color = (black?"-black":"-white")
  img(class=single,src="img/white/key"+color+".png")
mixin sshl(title,year)
  .white-shl: .ib
    .title= title
    .year= year
mixin fractal(x,y,r,n)
  img.fractal(data-anchor-target="#white-sh",data-1-center-center="opacity:0",data-center-center="margin-top:-100px;margin-left:0px;-webkit-transform:rotate(0deg);opacity:1",data-top-center="margin-top:"+y+"px;margin-left:"+x+"px;-webkit-transform:rotate("+r+"deg);opacity:0.4",data-top-bottom="opacity:0",src="img/fractal"+n+".svg")
mixin timeline-item(name, year, title)
  .li(data-anchor-target="#white-s-"+name,data-600-top="color:rgba(128,130,133,1)",data-top="color:rgba(219,68,65,1)",data-top-bottom="color:rgba(219,68,65,1)",data--300-top-bottom="color:rgba(128,130,133,1)")
    .c= year
    .c(data-anchor-target="#white-s-"+name,data-600-top="background:rgba(219,68,65,0)",data-100-top="background:rgba(219,68,65,1)",data-top-bottom="background:rgba(219,68,65,1)") &nbsp;
    .c(data-anchor-target="#white-s-"+name,data-600-top="opacity:0",data-top="opacity:1",data-top-bottom="opacity:1",data--300-top-bottom="opacity:0")= title
script(type="text/javascript",src="s/js/white.js")
#chapter-white(ng-controller="white")
  #part-white.anchor
  .section-headline#white-sh: .main(data-anchor-target="#white-sh",data-bottom-top="opacity:1;top:100%",data-100-top="opacity:1;top:0%",data-bottom-bottom="top:0%",data-top-bottom="top:-100%")
    .redline(data-anchor-target="#white-sh",data-bottom-bottom="margin-left:40%",data-center-center="margin-left:20%")
    .ib
      +fractal(200,10,270,1)
      +fractal(-200,20,120,1)
      +fractal(10,210,360,2)
      +fractal(-100,150,720,2)
      +fractal(50,410,270,3)
      +fractal(30,210,170,3)
      +fractal(-100,-110,370,4)
      +fractal(0,200,470,4)
      +fractal(50,-310,200,5)
      +fractal(200,110,170,5)
      +fractal(500,50,270,2)
      +fractal(-400,-260,570,1)
      +fractal(700,90,270,3)
      +fractal(-600,-170,170,4)
      +fractal(1000,10,470,5)
      img.key(data-anchor-target="#white-sh",data-bottom-top="opacity:1;margin-left:-400px;margin-top:350px",data-center-center="margin-left:-65px;margin-top:150px;opacity:1",data-top-bottom="opacity:0",src="img/key.svg")
      img.lock(data-anchor-target="#white-sh",data-bottom-top="opacity:1;margin-left:305px;margin-top:-100px",data-center-center="margin-left:-30px;margin-top:100px;opacity:1",data-top-bottom="opacity:0",src="img/lock.svg")
      .l4w
      .title 白色恐怖，黑暗時代
      .part PART IV
    .redline(data-anchor-target="#white-sh",data-bottom-bottom="margin-left:0%",data-center-center="margin-left:20%")

  +chapter-author
    | 林邑軒 (台灣大學社會所博士生) ／ 文  
    br
    |  邱彥瑜 ／ 責任編輯 
  .hl-black: .ib 白色恐怖年代
  +key(true)

  .section(style="margin: auto")
    | 戰後台灣的白色恐怖，一般以1949年5月19日戒嚴令發布為始，以1987年7月15日解嚴，或以1992年刑法100條的修正告終。1949年與1950年，國民黨把持的立法院分別通過了《懲治叛亂條例》與《動員戡亂時期檢肅匪諜條例》，據此，情治單位得以任意限縮人民的言論自由，壓制任何反對國民黨政權的政治活動。從1950年代的中共地下組織案，到1960年代以來的台獨相關案件，任何站在國民黨政權對立面的政治主張，都是國家機器的敵人。除此之外，情治機構系統性地製造了大量的冤、假、錯、案，逮捕、殺戮了許多無辜人民。根據現有的統計資料，白色恐怖期間有一萬六千多名的政治受難者，其中一千多人遭到槍決。每一筆數字背後，都是一個個破碎的家庭，無數個煎熬悲痛的日子。
  //-.hr-bk
  //-.full-video
    //-video
      //-source(src="liu-201.mp4",type="video/mp4")
    iframe(width="100%",height="100%",src="//www.youtube.com/embed/17o27S4a4-M",frameborder="0",allowfullscreen)
    .comment
      | 1993年勞動黨於六張犁公墓挖掘白色恐怖受難者的墓石。資料來源：勞動黨
      br
      | https://www.youtube.com/watch?v=17o27S4a4-M
  .hr-bk
  #white-timeline(data-anchor-target="#white-s-keelung",data-300-top="opacity:0",data-top="opacity:1")
    +timeline-item("keelung","1949","基隆中學事件")
    +timeline-item("luku","1953","鹿窟事件")
    +timeline-item("iskao","1954","高山族的白色風暴")
    +timeline-item("situ","1969","許席圖與青年自覺運動")
    +timeline-item("taiyuan","1970","泰源監獄案")
    +timeline-item("zonly","1977","中壢事件")
    +timeline-item("meli","1979","美麗島事件")
    +timeline-item("yslin","1980","林宅血案")
    +timeline-item("wcchen","1981","陳文成事件")
  #white-s-keelung
    +sshl("基隆中學事件","1949")
    .section
      | 二二八事件後的台灣，瀰漫著恐怖消沈的氣息。然而，目睹國民黨政權殘忍作為的青年志士，紛紛投身於更為激進的改造運動。一條名為地下革命的新戰線，悄悄在島嶼各處蔓延滋生。台籍的中國共產黨員蔡孝乾、張志忠等人，擔負起中共「台灣省工作委員會」的發展工作。短短數年之間，地下組織吸納了日治時代的社會運動者與新一代的台灣青年。時任基隆中學校長的客家人鍾浩東，領導了基隆地區的地下活動。校園內的許多老師、學生，也加入了鍾校長的反抗隊伍。1949年8月起，鍾浩東等人陸續被捕。最後，共有九位教師遭到槍決，多位學生判處感訓與有期徒刑。基隆中學事件，預告了1950年代白色恐怖的到來。
      br
      br
      .row
        .col-sm-6
          +img-redframe("white","keelung","7x5")
            .comment.comment-right
              | 王春長提供，台灣游藝數位複製
              | 資料來源：白色恐怖受難者故事網站
              | http://2009story.blogspot.tw/2009/02/1.html
        .col-sm-6
          .comment
            | 基隆中學高中第一屆畢業照。前排左起：鄭溪北、李旺輝、方弢、鍾浩東、（姓名不詳）、張國雄、（姓名不詳）、藍明谷。中排右二為王春長。

  .hr-bk

  #white-s-luku
    +sshl("鹿窟事件","1953")
    .section
      | 台北石碇、汐止交界的鹿窟、白雲山區，位於台北市區東南角，群山環繞，山徑複雜。二二八事件後，台北地區參與抗爭的中共地下黨員，透過老家在鹿窟的陳春慶的引介，陸續上山躲藏。當地的居民，並不排斥來自城市的陌生人。相反的，經過一段時間的相處，他們逐漸成為地下組織的協力者與成員。村長、鄉公所職員、地方角頭，一般的農民、礦工，紛紛參與其中。1949年9月，上級幹部決議，將鹿窟指定為台灣北部的武裝基地。鹿窟基地的保密工作非常健全，1950年開始的肅清，並未發現此一據點。直到1952年12月，官方才知悉鹿窟基地的存在，隨即發動上萬名軍警包圍山區，大肆搜捕相關人員。共計有35人遭到槍決，98人判處有期徒刑，上百人自首自新。經此打擊，鹿窟、玉桂嶺等村落，幾乎全村散離。
    .section-wide
      +img-blackframe("white","luku","2x1")
      .comment.text-right 鹿窟事件判決書。資料來源:台灣民間真相與和解促進會

  .hr-bk
  #white-s-iskao
    .white-shl: .ib
      .title 高山族的白色風暴
      .year 1954
    .section
      | 吾雍．雅達烏猶卡那，鄒族人，漢名高一生，阿里山鄉鄉長；巴斯勇‧優路拿納，鄒族人，漢名湯守仁，嘉義縣參議員；樂信．瓦旦，泰雅族人，漢名林瑞昌，台灣省參議員，他們是阿里山鄒族與桃園角板山泰雅族的部落菁英。1950年前後，由日治時代社會運動者簡吉所領導，隸屬於於台灣省工作委員會的「山地工作委員會」，在高山部落尋求可靠的盟友。當時，中共的少數民族自治政策，與部落尋求原住民自決自治的關懷不謀而合，雙方建立了相當程度的結盟關係。因此，1950年代的阿里山，遂成為北部地下黨員南下躲避的重要據點之一。1952年，部落菁英與部分山地青年陸續被捕，三人於1954年4月17日槍決。往後的原住民部落，未再形成跨部落的政治力量。一直要等到三十多年後，台灣的原住民運動，才重新喚醒這個早已夭折的自決之夢。
    .section-wide
      .row
        .col-sm-8
          +img-blackframe("white","iskao","2x3")
            .comment.comment-right(style="width:50%")
              +key
              .hr-bk
              | 1951年高一生、樂信·瓦旦與湯守仁於阿里山賓館。
              br
              | 資料來源:維基百科
        .col-sm-4
          +img-redframe("white","iskao2","3x4","right")
            br
            br
            .comment
              | 高一生被槍決前照片
              br
              | 資料來源：施明德基金會

  .hr-bk
  #white-s-situ
    +sshl("許席圖與青年自覺運動","1969")
    .section
      | 1963年，在台大就讀的美籍留學生狄仁華撰寫的〈人情味與公德心〉一文，刊載在中央日報上，激起了青年學生反省社會風氣的浪潮。以台大為發動點，「青年自覺運動」漸次擴展到大專院校與各級中學。青年學生實踐各種社會服務，身體力行改造社會。來自雲林北港的許席圖，就讀政大法律系期間，曾擔任政大代聯會的總幹事，1966年當選「青年自覺運動推行會」主席，不久後即畢業服役。退役後的許席圖，為籌措自覺會的經費，成立了「統一事業基金會」來募資。與此同時，救國團亦透過管道，希望自覺會能停止運作。1969年2月，國民黨逮捕許席圖等人。許席圖遭受劇烈刑求後精神失常，1977年轉送往花蓮玉里療養院至今。
    .section-wide
      +img-blackframe("white","situ","10x7")
    .section
      .row
        .col-sm-8
          +img-redframe("white","situ2","2x3")
            .comment
              | 許席圖1969年被捕，因為刑求精神不穩定的關係，被送至精神病院至今。
              br
              | 黃憲東/提供
        .col-sm-4
          +img-noframe("white","situ3","3x4")
            .comment
              | 青年自覺運動的判決書內容。
              br
              | 資料來源:台灣民間真相與和解促進會

  .hr-bk

  #white-s-taiyuan
    +sshl("泰源監獄案","1970")
    .section
      | 位於台東東河山上的泰源監獄，自1962年起，開始關押來自綠島新生訓導處、新店安坑軍人監獄、台北軍法的政治犯。除了1950年代中共地下組織案件的受刑人，1960年代興起的台獨案件政治犯，也加入了政治犯的大家庭。
    +fixbk("white","taiyuan","3x2")
      .para
        | 然而，從台北軍法處看守所移送至泰源的鄭金河等人，正在醞釀一場熾熱的風暴。1966年開始，他們在獄中秘密籌劃武裝革命，企圖推翻國民黨政權。泰源事件後，國民政府在綠島建造「綠洲山莊」，將泰源事件的政治犯移到綠洲山莊。
        .hr-bk
        | 圖為綠洲山莊現況。
        br
        | 攝影／曹欽榮
    .section-wide
      .row
        .col-sm-7
          +img-blackframe("white","taiyuan2","5x6")
            .comment.comment-right(style="width:100%")
              | 泰源事件判決書內容。
              br
              | 資料來源:施明德基金會
        .col-sm-5
          | 1970年2月8日，鄭金河等人取刀起事，刺傷了帶領衛兵交班的士官長。但因老士官長的呼救而失敗。一行6人棄械逃亡，逃往台東山區，十數日後全數被捕。3個月後，鄭金河等五人遭到槍決。

  .hr-bk

  #white-s-zonly
    +sshl("中壢事件","1977")
    .section
      | 中壢事件的主角，是自幼即以當總統為終身志願的許信良，他是國民黨極力栽培的青年領袖。1969年從英國留學歸來後，許信良加入《大學雜誌》的行列，開始批評時政。儘管如此，他仍獲得國民黨的提名，並順利當選1973年的台灣省議員。
    +fixbk("white","zonly","4x3","left")
      .para
        | 1977年，許信良批評國民黨的火力大開，除出版書籍外，更自行參選桃園縣長。11月19日，桃園縣長投票日當天，憤怒的群眾包圍中壢分局，群眾與警方爆發激烈衝突，抗議中壢國小投開票所監選主任的做票行為。
        .hr-bk
        | 圖為當年包圍中壢分局的消息傳開後，各鄉鎮民眾開始聚集至此。
        br
        | 資料來源:施明德基金會
    +fixbk("white","zonly2","5x3","left")
      .para
        | 中壢事件的抗爭，迫使桃園縣所有投開票所重新開票，許信良以九萬票之差，大勝國民黨提名的歐憲瑜。這是自1947年的228事件以來，首次的大規模群眾示威活動。此舉提振了黨外人士的士氣，也稍稍遏止了做票歪風。2年後，許信良參與了聲援余登發的遊行遭到「休職」，美麗島事件期間，人在國外的他，從此成為海外黑名單人士，直到1989年才偷渡回台灣。
        .hr-bk
        | 圖為當時中壢分局外4、50名員警圍著半圓封鎖阻隔民眾的畫面。
        br
        | 資料來源:施明德基金會

  .hr-bk

  #white-s-meli
    +sshl("美麗島事件","1979")
    .section
      .row
        .col-sm-9
          | 1960年代以來，參與選舉是黨外人士挑戰國民黨政權僅存的合法管道。選舉期間官方所容許的言論尺度，也較平時寬鬆許多，這是雙方長年對壘摩擦後的默契。但是，1978年12月，美國釋出即將與中華民國斷交的訊息，總統蔣經國宣布暫時停止一切選舉活動，此舉引發黨外人士不滿。
          br
          br
          .comment
            | 右圖為《美麗島》雜誌創刊號，於1979年8月24日發行，第三期發行量即衝破9萬本。
            br
            | 資料來源:鳳凰網
        .col-sm-3
          +img-redframe("white","meli","2x3")
    br
    br
    +fixbk("white","meli2","4x3","left")
      .para
        | 隨後黨外運動領袖余登發被捕，黨外人士在高雄橋頭遊行聲援，進一步升高了雙方對峙的緊張情勢。1979年5月創刊的《美麗島》雜誌，統合了不同路線的黨外人士，此後，美麗島雜誌的相關活動，不斷遭受暴力攻擊與威脅恐嚇。
        .hr-bk
        | 圖為1979年11月29日，《美麗島》高雄服務處6日被攻擊後再次被砸毀，服務處在外牆上掛上布條表示抗議。
        br
        |  資料來源:施明德基金會
    +fixbk("white","meli3","10x7","left")
      .para
        | 1979年12月10日，美麗島雜誌社預計發起遊行，官方當局從前一日即展開封鎖。遊行當天，鎮暴部隊採取強硬手段，警民發生多起衝突。事後，當局開始搜捕黨外人士，並在隔年3月18日展開審判。並以叛亂罪、意圖顛覆政府為由，將施明德判處無期徒刑，其餘人士判處12至14年有期徒刑。
        .hr-bk
          | 圖為1979年9月28日，《美麗島》雜誌發行人黃信介於高雄服務處成立茶會上致辭。原圖出自《綠色年代—台灣民主運動25年》，
          | 陳博文先生提供。

  .hr-bk
  #melist(ng-mousemove="melist($event)")
    .key.ib: .ib2: +key
    .ib: .ib2
      img(src="img/white/pic/meli4.jpg",ng-class="{'active':melistTab==0}")
      .portrait
        +fig("1","張俊宏","判處12年有期徒刑")
        +fig("2","黃信介","判處14年有期徒刑")
        +fig("3","陳菊",  "判處12年有期徒刑")
        +fig("4","姚嘉文","判處12年有期徒刑")
        +fig("5","施明德","判處無期徒刑")
        +fig("6","呂秀蓮","判處12年有期徒刑")
        +fig("7","林弘宜","判處12年有期徒刑")
    .comment.text-center
      | 圖片為美麗島大審（1980.3.18 於警備總部軍法處看守所第一法庭）
      br
      | 由左至右：張俊宏、黃信介、陳菊、姚嘉文、施明德、呂秀蓮、林弘宣（林義雄保外奔喪延審，故不在照片中）
      br
      | 資料來源：施明德基金會

  #white-s-yslin
    +sshl("林宅血案","1980")
    .section
      | 出身宜蘭五結工人家庭的林義雄，早年是一名為扶助貧民弱勢的律師。然而，1975年，宜蘭黨外前輩郭雨新的選舉訴訟，開啟了林義雄的政治生涯。1977年，林義雄以第一高票當選台灣省議員。認真犀利問政的他，很快成為受人矚目的黨外人士。1979年世界人權日的大遊行，林義雄並未參與其中，卻仍遭逮捕。林義雄等人被捕後，為監控黨外人士的動態，特務機構仍舊全天候地監控林義雄等人的住家。豈料，隔年1980年的2月28日，林妻方素敏前往新店安坑軍人監獄探監時，兇手闖入林義雄台北市信義路的住處，持刀殺害了林母林游阿妹及雙胞胎女兒亮均、亭均，身中六刀的長女奐均，急救後逃過死劫。當時國民黨政權暗示兇手為台獨份子或中共人士，並循此方向偵辦。大多數人仍認為，此為國民黨主導之兇殺案，意在殺雞儆猴，恫嚇黨外人士。至今，林宅血案已成歷史懸案。
    br
    .section-narrow
      +img-blackframe("white","yslin","3x4")
      .comment
        | 《自由時代》雜誌44期1985年1月7日出刊，當時林宅血案已屆四年而尚未偵破，其中亦大篇幅報導林義雄參加其母親與女兒告別式。
        br
        | 資料提供：鄭南榕基金會。
  .hr-bk
  #white-s-wcchen
    +sshl("陳文成事件","1981")
    .section
      | 出生於1950年 ，求學過程一帆風順的陳文成，自台大數學系畢業後，1975年前往美國密西根大學攻讀統計學博士，三年後取得學位，在卡內基美隆大學統計系擔任助理教授。當時台灣一波又一波追求民主化的反對運動，也撼動遠在海外的陳文成。因此，陳文成參與編寫全美台灣同鄉會《安雅堡鄉訊》，更創立「民主推動基金」，替美麗島雜誌募款。但這些行為，卻也被在海外領取國民黨酬勞的職業學生所掌握。

    .section
      | 1981年5月，陳文成返台時，即兩度遭到警備總部約談，更於7月2日第2次約談後行蹤成謎，隔日早晨被發現陳屍於台大校園。官方說法多定調自殺或是意外死亡，監察院調查報告認為自殺可能極小，可能是意外墜樓。但卡內基美隆校長塞爾特找來美國退休法醫魏契「檢視」屍體（因不被允許稱為驗屍），返美後魏契發表聲明，認為陳文成死於他殺。因疑點甚多，後來舉行多次陳文成死因公聽會，監察院也再次調查、並要求檢警重啟偵查，但不了了之。塞爾特更在陳文成過世後，奔波美國國會要求嚴禁國民黨散佈於美國校園的職業學生，恣意押人問案的情治機構也引起國際高度關注。
      +img-redframe("white","wcchen","4x3")
        .comment 
          br
          | 陳文成先生一家人。資料來源:陳文成基金會

    .hr-bk
